In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv("mock_kaggle.csv")

In [4]:
data

           data  venda  estoque  preco
0    2014-01-01      0     4972   1.29
1    2014-01-02     70     4902   1.29
2    2014-01-03     59     4843   1.29
3    2014-01-04     93     4750   1.29
4    2014-01-05     96     4654   1.29
..          ...    ...      ...    ...
932  2016-07-27     98     3179   2.39
933  2016-07-28    108     3071   2.39
934  2016-07-29    128     4095   2.39
935  2016-07-30    270     3825   2.39
936  2016-07-31    183     3642   2.39

[937 rows x 4 columns]

In [5]:
# Convert 'data' to datetime format
data['data'] = pd.to_datetime(data['data'])

# Extract features from the date
data['year'] = data['data'].dt.year
data['month'] = data['data'].dt.month
data['day'] = data['data'].dt.day
data['day_of_week'] = data['data'].dt.dayofweek  # Monday=0, Sunday=6

# Drop the original date column
data = data.drop(columns=['data'])

# View the updated DataFrame
data.head()

   venda  estoque  preco  year  month  day  day_of_week
0      0     4972   1.29  2014      1    1            2
1     70     4902   1.29  2014      1    2            3
2     59     4843   1.29  2014      1    3            4
3     93     4750   1.29  2014      1    4            5
4     96     4654   1.29  2014      1    5            6

In [6]:
# Define feature matrix X and target vector y
X = data[['estoque', 'preco', 'year', 'month', 'day', 'day_of_week']]
y = data['venda']

# Check shape
X.shape, y.shape

((937, 6), (937,))

In [7]:
from sklearn.model_selection import train_test_split

# Split the data
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Confirm the split
X_train.shape, X_test.shape

((749, 6), (188, 6))

In [8]:
from sklearn.linear_model import LinearRegression

# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [9]:
# Predict on test set
y_pred = model.predict(X_test)

# Display first 5 predictions
y_pred[:5]

array([ 29.09481324,  72.10136281,  75.57369933, 118.42793794,
        52.40548292])

In [10]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mae, mse, r2

(58.46417782751257, 7116.153244569479, 0.21957264653948727)

In [12]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.4-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in ./opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.24.4)
Requirement already satisfied: scipy in ./opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.9.1)
Downloading xgboost-2.1.4-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 11.8 MB/s eta 0:00:00a 0:00:01
Installing collected packages: xgboost
Successfully installed xgboost-2.1.4

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [13]:
from xgboost import XGBRegressor

# Initialize and train XGBoost
xgb_model = XGBRegressor(random_state=42)
xgb_model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=42, ...)

In [14]:
# Predict with XGBoost
y_pred_xgb = xgb_model.predict(X_test)

# Evaluate
mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
r2_xgb = r2_score(y_test, y_pred_xgb)

mae_xgb, mse_xgb, r2_xgb

(46.38073609166957, 5274.284124500274, 0.421570129363962)

In [ ]:
retail-sales-prediction/
│
├── retail_model.ipynb         # Jupyter notebook
├── mock_kaggle.csv            # Dataset
├── requirements.txt           # Dependencies
└── README.md                  # Project explanation

In [16]:
with open("requirements.txt", "w") as f:
    f.write("pandas\nscikit-learn\nxgboost\nmatplotlib\n")